<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="description" content="Znana przychodnia, jest to miejsce gdzie możesz spokojnie dokonąć rejestracji do wybranego        przez siebie specjalisty bez wychodzenia z domu!"/>
    <meta name="keywords" content="przychodnia, lekarze, dom ,pacjenci, choroby, specjaliści"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/glowna.css' %}" />

    <title>Strona główna</title>
</head>
<body>

<!-- Header -->

<header>
    <h1 class="logo"><a href="glowna.html">Znana Przychodnia</a></h1>
    <nav>
        <ul class="menu">
            <li><a href="#">Strona główna</a> </li>
            <li><a href="#">O nas</a> </li>
            <li><a href="#">Kontakt</a> </li>
            <li><a href="#">Jesteś Pacjentem?</a> </li>
            <li><a href="#">Jesteś Lekarzem?</a> </li>
        </ul>
    </nav>

</header>

<main>
    <div class="container">



    </div>


</main>


</body>
</html>