body
{
    background-color: white;
}

nav
{
    text-align: center;
    background-color: white;
}

.menu
{
    list-style-type: none;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    min-height: 40px;
    line-height: 200%;
    position: relative;
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
.menu >li
{
    display: inline-block; <!--rozlozenie_poziomo -->
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #1abc9c;


}
.menu >li:first-child
{
    justify-content: space-between;
}
.menu a
{
    text-decoration: none;
    color: orange;
}
.menu:hover
{
    text-decoration: white;
}
.opis
{
    width: 1340px;
    height: 800px;
    background: url("center.jpg");
}

.przerwa
{
    width: 1340px;
    height: 400px;
}

.rzad {
    padding-top: 150px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
